<template>
    <form method="POST" @submit.prevent="addToCart">


        <!-- for move to cart from wishlist -->
        <a
            :href="wishlistMoveRoute"
            :disabled="isButtonEnable == 'false' || isButtonEnable == false"
            :class="`btn btn-add-to-cart ${addClassToBtn}`"
            v-if="moveToCart"
        >

            <i class="material-icons text-down-3" v-if="showCartIcon">shopping_cart</i>

            <span class="fs14 fw6 text-uppercase text-up-4" v-text="btnText"></span>
        </a>

        <!-- for add to cart -->
        <button
            type="submit"
            :disabled="isButtonEnable == 'false' || isButtonEnable == false"
            :class="`btn btn-add-to-cart ${addClassToBtn}`"
            v-else
        >
            <div class="qty-btn unselectable" v-if="counterVisible">
                <div class="deduct-btn rango-minus" @click="removeCartItem"></div>
                <div class="actual-count">{{ count }}</div>
                <div class="increase-btn rango-plus" @click="addToCartItem"></div>
            </div>
            <i class="material-icons text-down-3" v-if="!counterVisible">shopping_cart</i>

            <span class="fs14 fw6 text-uppercase text-up-4" v-if="!counterVisible" v-text="btnText"></span>
        </button>

    </form>
</template>

<script>
    export default {
        props: [
            'form',
            'btnText',
            'isEnable',
            'csrfToken',
            'productId',
            'reloadPage',
            'moveToCart',
            'wishlistMoveRoute',
            'showCartIcon',
            'addClassToBtn',
            'productFlatId',
            'fullProduct',
        ],

        data: function () {
            return {
                count: 0,
                'isButtonEnable': this.isEnable,
                'qtyText': this.__('checkout.qty'),
                'counterVisible': false,
            }
        },
        watch: {
            count: function (newValue, oldValue) {
                this.count = newValue < 0 ? oldValue : newValue;

            }
        },
        created () {
          let catItmes = localStorage.getItem(this.csrfToken.split("&#039;").join("")) ?
              localStorage.getItem(this.csrfToken.split("&#039;").join("")) : null;
          if (catItmes != null){
              const catItmesJson = JSON.parse(catItmes);
              catItmesJson.find(itm => {
                  if (itm.product_id === parseInt(this.productId) && itm.quantity > 0) {
                      this.count = itm.quantity;
                      this.counterVisible = true;
                  }
              })
            }
        },
        methods: {
            'addToCartItem': function () {
                // console.log(JSON.parse(this.fullProduct))
                this.count++;
                // this.isButtonEnable = false;
                let url = `${this.$root.baseUrl}/cart/add`;

                this.$http.post(url, {
                    'quantity':1,
                    'product_id': this.productId,
                    '_token': this.csrfToken.split("&#039;").join(""),
                })
                .then(response => {
                    // this.isButtonEnable = true;

                    if (response.data.status == 'success') {
                        this.$root.miniCartKey++;

                        // window.showAlert(`alert-success`, this.__('shop.general.alert.success'), response.data.message);

                        if (this.reloadPage == "1") {
                            window.location.reload();
                        }
                    } else {

                        if (response.data.redirectionRoute) {
                            window.location.href = response.data.redirectionRoute;
                        }
                    }
                })
                .catch(error => {
                    console.log(this.__('error.something_went_wrong'));
                })
            },
            'removeCartItem': function () {
                this.count--;
                // this.isButtonEnable = false;
                let url = `${this.$root.baseUrl}/cart/add`;

                this.$http.post(url, {
                    'quantity':-1,
                    'product_id': this.productId,
                    '_token': this.csrfToken.split("&#039;").join(""),
                })
                .then(response => {
                    // this.isButtonEnable = true;

                    if (response.data.status == 'success') {
                        this.$root.miniCartKey--;
                        this.counterVisible = this.count === 0 ? false : true;
                        // window.showAlert(`alert-success`, this.__('shop.general.alert.success'), response.data.message);

                        if (this.reloadPage == "1") {
                            window.location.reload();
                        }
                    } else {

                        if (response.data.redirectionRoute) {
                            window.location.href = response.data.redirectionRoute;
                        }
                    }
                })
                .catch(error => {
                    console.log(this.__('error.something_went_wrong'));
                })
            },
            'addToCart': function () {
                if(this.counterVisible === false){
                    this.addToCartItem();
                    this.counterVisible = true;
                }
            },
        }
    }
</script>