<template>
    <div :class="`dropdown ${cartItems.length > 0 ? '' : 'disable-active'}`">
        <cart-btn :item-count="cartItems.length"></cart-btn>

        <div
            id="cart-modal-content"
            v-if="cartItems.length > 0"
            class="modal-content cart-modal-content hide">

            <div class="mini-cart-container">
                <div class="row small-card-container" :key="index" v-for="(item, index) in cartItems">
                    <div class="col-3 product-image-container mr15">
                        <a @click="removeProduct(item.id)">
                            <span class="rango-close"></span>
                        </a>

                        <a class="unset" :href="`${$root.baseUrl}/${item.url_key}`">
                            <div
                                class="product-image"
                                :style="`background-image: url(${item.images.medium_image_url});`">
                            </div>
                        </a>
                    </div>
                    <div class="col-9 no-padding card-body align-vertical-top">
                        <div class="no-padding">
                            <div class="fs16 text-nowrap fw6" v-html="item.name"></div>

                            <div class="fs18 card-current-price fw6">
                                <div class="display-inbl">
                                    <label class="fw5">{{ __('checkout.qty') }}</label>
                                    <input type="text" disabled :value="item.quantity" class="ml5" />
                                </div>
                                <span class="card-total-price fw6">
                                    {{ item.base_total }}
                                </span>
                            </div>
                        </div>
                        <!--<div class="qty-btn unselectable">-->
                            <!--<div class="deduct-btn rango-minus" @click="removeCartItem(item.product.id)"></div>-->
                            <!--<div class="actual-count">{{item.quantity}}</div>-->
                            <!--<div class="increase-btn rango-plus" @click="addToCartItem(item.product.id)"></div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <h5 class="col-6 text-left fw6">
                    {{ subtotalText }}
                </h5>

                <h5 class="col-6 text-right fw6 no-padding">{{ cartInformation.base_sub_total }}</h5>
            </div>

            <div class="modal-footer">
                <a class="col text-left fs16 link-color remove-decoration" :href="viewCart">{{ cartText }}</a>

                <div class="col text-right no-padding">
                    <a :href="checkoutUrl" @click="checkMinimumOrder($event)">
                        <button
                            type="button"
                            class="theme-btn fs16 fw6">
                            {{ checkoutText }}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .hide {
        display: none !important;
    }
</style>

<script>
    export default {
        props: [
            'cartText',
            'viewCart',
            'checkoutUrl',
            'checkoutText',
            'subtotalText',
            'checkMinimumOrderUrl',
            'csrfToken',
        ],

        data: function () {
            return {
                cartItems: [],
                cartInformation: [],
                count: 0,
            }
        },

        mounted: function () {
            this.getMiniCartDetails();
        },

        watch: {
            '$root.miniCartKey': function () {
                this.getMiniCartDetails();
            }
        },

        methods: {
            getMiniCartDetails: function () {
                this.$http.get(`${this.$root.baseUrl}/mini-cart`)
                .then(response => {
                    if (response.data.status) {
                        this.cartItems = response.data.mini_cart.cart_items;
                        this.cartInformation = response.data.mini_cart.cart_details;
                        // console.log(this.cartInformation);
                        localStorage.setItem(this.csrfToken.split("&#039;").join(""), JSON.stringify(this.cartItems));
                    }
                })
                .catch(exception => {
                    console.log(this.__('error.something_went_wrong'));
                });
            },

                removeProduct: function (productId) {
                this.$http.delete(`${this.$root.baseUrl}/cart/remove/${productId}`)
                .then(response => {
                    this.cartItems = this.cartItems.filter(item => item.id != productId);
                    this.$root.miniCartKey--;

                    let catItmes = localStorage.getItem(this.csrfToken.split("&#039;").join("")) ?
                        localStorage.getItem(this.csrfToken.split("&#039;").join("")) : null;

                    if (catItmes != null){
                        const catItmesJson = JSON.parse(catItmes);
                        let newCart= catItmesJson.filter(item => item.id != productId);
                        localStorage.setItem(this.csrfToken.split("&#039;").join(""), JSON.stringify(newCart));
                    }

                    window.showAlert(`alert-${response.data.status}`, response.data.label, response.data.message);
                })
                .catch(exception => {
                    console.log(this.__('error.something_went_wrong'));
                });
            },

            checkMinimumOrder: function (e) {
                e.preventDefault();

                this.$http.post(this.checkMinimumOrderUrl)
                    .then(({ data }) => {
                        if (! data.status) {
                            window.showAlert(`alert-warning`, 'Warning', data.message);
                        } else {
                            window.location.href = this.checkoutUrl;
                        }
                    });
            },
            addToCartItem: function (productId) {

                let url = `${this.$root.baseUrl}/cart/add`;

                this.$http.post(url, {
                    'quantity':1,
                    'product_id': productId.toString(),
                    '_token': this.csrfToken.split("&#039;").join(""),
                })
                    .then(response => {
                        // this.isButtonEnable = true;

                        if (response.data.status == 'success') {
                            this.$root.miniCartKey++;

                            // window.showAlert(`alert-success`, this.__('shop.general.alert.success'), response.data.message);

                            if (this.reloadPage == "1") {
                                window.location.reload();
                            }
                        } else {

                            if (response.data.redirectionRoute) {
                                window.location.href = response.data.redirectionRoute;
                            }
                        }
                    })
                    .catch(error => {
                        console.log(this.__('error.something_went_wrong'));
                    })
            },
            removeCartItem: function (productId) {

                let url = `${this.$root.baseUrl}/cart/add`;

                this.$http.post(url, {
                    'quantity':-1,
                    'product_id': productId.toString(),
                    '_token': this.csrfToken.split("&#039;").join(""),
                })
                    .then(response => {
                        // this.isButtonEnable = true;

                        if (response.data.status == 'success') {
                            this.$root.miniCartKey--;
                            this.counterVisible = this.count === 0 ? false : true;
                            // window.showAlert(`alert-success`, this.__('shop.general.alert.success'), response.data.message);

                            if (this.reloadPage == "1") {
                                window.location.reload();
                            }
                        } else {

                            if (response.data.redirectionRoute) {
                                window.location.href = response.data.redirectionRoute;
                            }
                        }
                    })
                    .catch(error => {
                        console.log(this.__('error.something_went_wrong'));
                    })
            },
        }
    }
</script>
