@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500);

body {
    margin: 0;
    color: #3a3a3a;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: static;
    height: 100%;
    width: 100%;
    background-color: #fff
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 100%, .3);
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

.navbar-top {
    height: 60px;
    background-color: #fff;
    font-size: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .05);
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5
}

.navbar-top .navbar-top-left {
    width: 50%;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff
}

.navbar-top .navbar-top-left .brand-logo {
    padding: 10px
}

.navbar-top .navbar-top-right {
    width: 50%;
    height: 60px;
    text-align: right;
    display: inline-block;
    vertical-align: middle
}

.navbar-top .navbar-top-right .profile-info {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    min-width: 50px;
    padding: 12px 0;
    margin: 0 25px 0 30px;
    font-size: 15px;
    cursor: pointer;
    position: relative
}

.navbar-top .navbar-top-right .profile-info .app-version {
    padding: 10px 20px 0;
    margin-bottom: -10px;
    display: block;
    cursor: default;
    color: #a2a2a2
}

.navbar-top .navbar-top-right .profile-info .dropdown-list {
    top: 63px;
    right: 0;
    bottom: inherit !important
}

.navbar-top .navbar-top-right .profile-info .name {
    color: #000311;
    display: block;
    text-align: left
}

.navbar-top .navbar-top-right .profile-info .role {
    font-size: 14px;
    color: #8e8e8e;
    display: block;
    text-align: left
}

.navbar-top .navbar-top-right .profile-info i.icon {
    margin-left: 10px
}

.navbar-left {
    position: fixed;
    left: 0;
    top: 60px;
    width: 90px;
    padding-top: 20px;
    border-right: 1px solid hsla(0, 0%, 63.5%, .2);
    height: auto;
    bottom: 0;
    z-index: 2;
    background-color: #fff
}

.navbar-left ul.menubar li.menu-item {
    padding: 10px 5px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase
}

.navbar-left ul.menubar li.menu-item a {
    color: #a2a2a2
}

.navbar-left ul.menubar li.menu-item.active a {
    color: #0041ff
}

.navbar-left ul.menubar li.menu-item span {
    display: block;
    margin: auto
}

.content-container {
    padding-left: 90px;
    position: absolute;
    margin-top: 60px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: calc(100% - 60px);
    width: 100%
}

.content-container .inner-section {
    height: 100%
}

.content-container .aside-nav {
    width: 280px;
    position: fixed;
    top: 60px;
    bottom: 0;
    border-right: 1px solid hsla(0, 0%, 63.5%, .2);
    background-color: #f8f9fa;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4
}

.content-container .aside-nav ul {
    overflow-y: auto;
    height: 90%
}

.content-container .aside-nav a {
    padding: 15px;
    display: block;
    color: #000311
}

.content-container .aside-nav .active a {
    background: #fff;
    border-top: 1px solid hsla(0, 0%, 63.5%, .2);
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2)
}

.content-container .aside-nav .active i {
    float: right
}

.content-container .content-wrapper {
    padding: 25px 25px 25px 15px;
    margin-left: 280px;
    margin-top: 1px;
    background-color: #fff
}

.content-container .content {
    margin-top: 25px
}

.content-container .content.full-page {
    padding: 25px
}

.content-container .content .page-header {
    display: inline-block;
    width: 100%;
    padding: 15px 10px 15px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: 3;
    background-color: #fff
}

.content-container .content .page-header .page-title {
    float: left
}

.content-container .content .page-header .page-title .back-link {
    float: left;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 5px
}

.content-container .content .page-header .page-title h1 {
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    line-height: normal
}

.content-container .content .page-header .page-action {
    float: right
}

.content-container .content .page-header .page-action * {
    display: inline-block
}

.content-container .content .page-header .page-action a {
    margin-left: 25px
}

.content-container .content .page-header .control-group {
    width: 180px;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px
}

.content-container .content .page-header .control {
    width: 100%;
    margin: 0
}

.content-container .content .page-content {
    width: 100%;
    display: inline-block
}

.control-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 750px
}

.control-container .control {
    background: #fff;
    border: 2px solid #c7c7c7;
    border-radius: 3px;
    width: 150px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    transition: .2s cubic-bezier(.4, 0, .2, 1);
    padding: 0 10px;
    font-size: 15px
}

.control-container .control:focus {
    border-color: #0041ff
}

.control-container .icon:hover {
    cursor: pointer
}

.control-container .control-group::last-child {
    margin-right: 0
}

.boolean-control-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 750px
}

.boolean-control-container .control-group {
    width: 200px
}

.control-group label {
    width: 70%
}

.control-group label .locale {
    float: right;
    color: #8e8e8e
}

.control-group .mce-tinymce {
    margin-top: 10px;
    margin-bottom: 5px
}

.ticket-list .control-group.date:after {
    left: unset;
    right: 10px;
    top: 34px
}

.ticket-list .control-group.has-error.date:after {
    top: 47px
}

.rtl .ticket-list .control-group.has-error.date:after {
    top: 47px;
    right: 100% !important
}

.dashboard .page-header {
    margin-bottom: 0 !important;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2)
}

.dashboard .page-header .control-group span {
    width: 100%
}

.dashboard .page-header .control-group.date:after {
    margin-top: -13px;
    left: 100%
}

.dashboard .page-content {
    margin-top: 15px
}

.dashboard .card {
    height: 445px;
    background-color: #fff;
    border: 1px solid hsla(0, 0%, 63.5%, .2);
    box-shadow: 0 5px 10px 2px hsla(0, 0%, 63.5%, .2);
    border-radius: .25rem;
    padding: 20px 0 0 20px;
    overflow: auto
}

.dashboard .card .card-title {
    font-size: 14px;
    color: #a2a2a2;
    letter-spacing: -.26px;
    text-transform: uppercase
}

.dashboard .card .card-info {
    width: 100%;
    display: inline-block
}

.dashboard .card .card-info.center {
    text-align: center
}

.dashboard .card .card-info ul li {
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2);
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    position: relative
}

.dashboard .card .card-info ul li .image {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 15px
}

.dashboard .card .card-info ul li .image.product {
    background: #f2f2f2
}

.dashboard .card .card-info ul li .image img {
    width: 100%
}

.dashboard .card .card-info ul li .description {
    margin-top: 10px
}

.dashboard .card .card-info ul li .description .name {
    color: #0041ff
}

.dashboard .card .card-info ul li .description .info {
    color: #3a3a3a;
    margin-top: 5px
}

.dashboard .card .card-info ul li .icon.angle-right-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -8px
}

.dashboard .card .card-info ul li:last-child {
    border-bottom: 0
}

.dashboard .card .card-info .no-result-found {
    margin-top: 146px
}

.dashboard .card .card-info .no-result-found p {
    margin: 0;
    color: #a2a2a2
}

.dashboard .dashboard-stats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 15px
}

.dashboard .dashboard-stats .dashboard-card {
    height: 100px;
    background: #fff;
    border: 1px solid hsla(0, 0%, 63.5%, .2);
    box-shadow: 0 5px 10px 2px hsla(0, 0%, 63.5%, .2);
    border-radius: 5px;
    position: relative;
    padding: 15px
}

.dashboard .dashboard-stats .dashboard-card .title {
    font-size: 14px;
    color: #a2a2a2;
    text-transform: uppercase
}

.dashboard .dashboard-stats .dashboard-card .data {
    padding-top: 13px;
    font-size: 32px;
    color: #0041ff
}

.dashboard .dashboard-stats .dashboard-card .data .progress {
    font-size: 14px;
    color: #8e8e8e;
    float: right;
    margin-top: -2px
}

.dashboard .dashboard-stats .dashboard-card .data .progress .icon {
    vertical-align: middle
}

.dashboard .graph-stats {
    margin-top: 30px;
    width: 100%;
    display: inline-block
}

.dashboard .graph-stats .left-card-container {
    float: left;
    width: 75%;
    padding-right: 9px
}

.dashboard .graph-stats .right-card-container {
    float: left;
    width: 25%;
    padding-left: 21px
}

.dashboard .sale-stock {
    width: 100%;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin-top: 30px
}

.rtl .dashboard .page-header .control-group.date:after {
    margin-top: -13px !important;
    right: 100%
}

.configuration-image {
    position: relative;
    height: 33px;
    width: 33px;
    top: 15px;
    border-radius: 3px;
    margin-right: 5px
}

.download {
    position: relative;
    height: 24px !important;
    width: 24px !important;
    top: 12px;
    margin-right: 10px
}

.aside-nav-toggle {
    height: 48px;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid hsla(0, 0%, 63.5%, .2)
}

.aside-nav-toggle .close-icon, .aside-nav-toggle .open-icon {
    position: absolute;
    cursor: pointer;
    left: 45%
}

.aside-nav-toggle.open {
    display: none
}

.linked-product-search-result {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16), 0 0 9px 0 rgba(0, 0, 0, .16);
    z-index: 10;
    text-align: left;
    border-radius: 3px;
    background-color: #fff;
    width: 70%;
    max-height: 200px;
    overflow-y: auto
}

.linked-product-search-result li {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer
}

.cart-rule-conditions table td.attribute, .catalog-rule-conditions table td.attribute {
    width: 250px;
    padding-left: 0
}

.cart-rule-conditions table td.operator, .cart-rule-conditions table td.value, .catalog-rule-conditions table td.operator, .catalog-rule-conditions table td.value {
    width: 260px
}

.cart-rule-conditions table td.actions, .catalog-rule-conditions table td.actions {
    width: 44px
}

.cart-rule-conditions table td.actions .icon, .catalog-rule-conditions table td.actions .icon {
    margin-top: 6px
}

.sale-container .sale-section {
    font-size: 16px
}

.sale-container .sale-section .secton-title {
    font-size: 18px;
    color: #8e8e8e;
    padding: 15px 0;
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2)
}

.sale-container .sale-section .section-content {
    display: block;
    padding: 20px 0
}

.sale-container .sale-section .section-content .row {
    display: block;
    padding: 7px 0
}

.sale-container .sale-section .section-content .row .title {
    width: 200px;
    color: #3a3a3a;
    letter-spacing: -.26px;
    display: inline-block
}

.sale-container .sale-section .section-content .row .value {
    color: #3a3a3a;
    letter-spacing: -.26px;
    display: inline-block
}

.sale-container .table .qty-row {
    display: block;
    margin-bottom: 5px
}

.sale-container .table .qty-row:last-child {
    margin-bottom: 0
}

.sale-container .table .radio {
    margin: 0
}

.sale-container .summary-comment-container .comment-container {
    margin-top: 20px;
    float: left
}

.sale-container .summary-comment-container .comment-container .comment-list {
    margin-top: 40px
}

.sale-container .summary-comment-container .comment-container .comment-list li {
    margin-bottom: 20px
}

.sale-container .summary-comment-container .comment-container .comment-list li:last-child {
    margin-bottom: 0
}

.sale-container .summary-comment-container .comment-container .comment-list li p {
    margin: 5px 0 0;
    color: #8e8e8e
}

.sale-container .sale-summary {
    margin-top: 20px;
    height: 130px;
    float: right
}

.sale-container .sale-summary tr td {
    padding: 5px 8px;
    vertical-align: text-bottom
}

.sale-container .sale-summary tr.bold {
    font-weight: 600;
    font-size: 15px
}

.sale-container .sale-summary tr.border td {
    border-bottom: 1px solid hsla(0, 0%, 63.5%, .2)
}

.stars {
    margin-top: 5px
}

.stars .icon {
    width: 16px;
    height: 16px
}

.export-import {
    cursor: pointer
}

.export-import .export-icon, .export-import .import-icon {
    position: relative;
    top: 10px
}

.export-import span {
    margin-left: 2px
}

.rtl {
    direction: rtl
}

.rtl .form-container {
    text-align: right !important
}

.rtl .navbar-top .navbar-top-right {
    text-align: left
}

.rtl .navbar-top .navbar-top-right .profile-info {
    margin: 0 30px 0 25px
}

.rtl .navbar-top .navbar-top-right .profile-info i.icon {
    margin-left: 0;
    margin-right: 10px
}

.rtl .navbar-left {
    border-left: 1px solid hsla(0, 0%, 63.5%, .2);
    border-right: none;
    left: calc(100% - 90px);
    background-color: #fff
}

.rtl .content-container {
    padding-right: 90px;
    padding-left: 0
}

.rtl .content-container .content .page-header .page-title {
    float: right
}

.rtl .content-container .content .page-header .page-action {
    float: left
}

.rtl .content-container .content .page-header .page-action a {
    margin-left: 0
}

.rtl .content-container .content .page-header .control-group {
    margin-right: 20px;
    margin-left: 0
}

.rtl .content-container .content-wrapper {
    padding: 25px 305px 25px 25px;
    margin-left: 0
}

.rtl .content-container .aside-nav .active i {
    float: left;
    transform: rotate(180deg)
}

.rtl .dashboard .dashboard-stats .dashboard-card .data span {
    float: left
}

.rtl .dashboard .card {
    padding: 20px 20px 0 0
}

.rtl .dashboard .card .card-info ul li .image {
    float: right;
    margin-right: 0;
    margin-left: 15px
}

.rtl .dashboard .card .card-info ul li .icon.angle-right-icon {
    left: 30px;
    right: auto;
    transform: rotate(180deg)
}

.rtl .dashboard .graph-stats .left-card-container {
    float: right;
    padding-right: 0
}

.rtl .dashboard .graph-stats .right-card-container {
    float: right;
    padding-left: 0;
    padding-right: 30px
}

.rtl .sale-container .sale-summary {
    float: left
}

.rtl .grid-container .table tbody td.action a:first-child {
    margin-left: 10px;
    margin-right: 0
}

.rtl .table table {
    text-align: right
}

.rtl .table table .massaction-remove {
    margin-right: 5px !important;
    margin-left: 10px
}

.rtl .table table .btn.btn-primary {
    margin-right: 10px !important
}

.rtl .dropdown-list.bottom-right {
    left: 0;
    right: auto !important
}

.rtl .dropdown-list .dropdown-container {
    text-align: right
}

.rtl .accordian .accordian-header .icon {
    float: left
}

.rtl .tree-container .tree-item {
    padding-right: 30px
}

.rtl .tree-container .tree-item .expand-icon, .rtl .tree-container .tree-item .folder-icon {
    margin-left: 10px;
    margin-right: 0
}

.rtl .tree-container > .tree-item {
    padding-right: 0
}

.rtl .radio .radio-view {
    margin-left: 5px
}

.rtl .image-wrapper .image-item {
    margin-right: 0;
    margin-left: 20px
}

.rtl .image-wrapper .image-item .remove-image {
    margin-right: 0
}

.rtl .control-group label.required:before {
    content: "*";
    color: #fc6868;
    font-weight: 700
}

.rtl .control-group label.required:after {
    content: none
}

.rtl .control-group label .locale {
    float: left
}

.rtl .multiselect {
    text-align: unset
}

.rtl .pagination .page-item .icon {
    transform: rotate(180deg)
}

.accordian-header {
    background-color: #fbfbfb
}

.btn.btn-primary {
    background: #0041ff
}

.fixed-action {
    top: 108px
}

.fixed-action, .fixed-action-slight {
    position: fixed;
    right: 32px;
    z-index: 20
}

.fixed-action-slight {
    top: 94px
}

.pagination {
    margin-top: 30px
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.do-not-cross-arrow {
    width: 85%
}

.linked-product-filter-tag {
    text-transform: capitalize;
    margin-top: 10px;
    margin-right: 0;
    justify-content: flex-start;
    height: 100%
}

.linked-product-wrapper {
    margin-left: 0 !important;
    margin-right: 10px !important;
    height: 100% !important
}

.do-not-cross-linked-product-arrow {
    width: 95%
}